<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEntitiesLabel" jhiTranslate="cloudbaboonsApp.entities.home.createOrEditLabel">Create or edit a Entities</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!entities.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="entities.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cloudbaboonsApp.entities.orgname" for="field_orgname">Orgname</label>
            <input type="text" class="form-control" name="orgname" id="field_orgname"
                [(ngModel)]="entities.orgname"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cloudbaboonsApp.entities.appname" for="field_appname">Appname</label>
            <input type="text" class="form-control" name="appname" id="field_appname"
                [(ngModel)]="entities.appname"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cloudbaboonsApp.entities.fieldname" for="field_fieldname">Fieldname</label>
            <input type="text" class="form-control" name="fieldname" id="field_fieldname"
                [(ngModel)]="entities.fieldname"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cloudbaboonsApp.entities.fieldtype" for="field_fieldtype">Fieldtype</label>
            <input type="text" class="form-control" name="fieldtype" id="field_fieldtype"
                [(ngModel)]="entities.fieldtype"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
