<div>
    <h2>
        <span jhiTranslate="cloudbaboonsApp.entities.home.title">Entities</span>
        <button class="btn btn-primary float-right create-entities" [routerLink]="['/', { outlets: { popup: ['entities-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="cloudbaboonsApp.entities.home.createLabel">
            Create new Entities
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="entities">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="orgname"><span jhiTranslate="cloudbaboonsApp.entities.orgname">Orgname</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="appname"><span jhiTranslate="cloudbaboonsApp.entities.appname">Appname</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fieldname"><span jhiTranslate="cloudbaboonsApp.entities.fieldname">Fieldname</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fieldtype"><span jhiTranslate="cloudbaboonsApp.entities.fieldtype">Fieldtype</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let entities of entities ;trackBy: trackId">
                <td><a [routerLink]="['../entities', entities.id ]">{{entities.id}}</a></td>
                <td>{{entities.orgname}}</td>
                <td>{{entities.appname}}</td>
                <td>{{entities.fieldname}}</td>
                <td>{{entities.fieldtype}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../entities', entities.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'entities/'+ entities.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'entities/'+ entities.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="entities && entities.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
