<div class="row">
    <div class="col-md-3">
         Generate enterprise application 
    </div>
    <div class="col-md-9">
        
   		

  <h2>
        <span>Generate your application</span>
        <button class="btn btn-primary float-right create-genapp" [routerLink]="['/', { outlets: { popup: ['genapp-new'] } }]">
            <span class="fa fa-plus"></span>
            <span>
            Generate
            </span>
        </button>
    </h2
    <div>
    <br>
    <br>
    <br>
    
      <h2>
        <span>Configure Credentials</span>
        <button class="btn btn-primary float-right create-genapp" [routerLink]="['/configurations']">
            <span class="fa fa-plus"></span>
            <span>
            Configure
            </span>
        </button>
    </h2
       </div>
        <div>
    <br>
    <br>
    <br>
    
      <h2>
        <span>Create Entities</span>
        <button class="btn btn-primary float-right create-genapp" [routerLink]="['/entities']">
            <span class="fa fa-plus"></span>
            <span>
            Create &nbsp;&nbsp;&nbsp;&nbsp; 
            </span>
        </button>
    </h2
       </div>
    </div>
</div>
