
<div *ngIf="codegenerator">
    <h2><span jhiTranslate="cloudbaboonsApp.codegenerator.detail.title">Codegenerator</span> {{codegenerator.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cloudbaboonsApp.codegenerator.application_name">Application Name</span></dt>
        <dd>
            <span>{{codegenerator.application_name}}</span>
        </dd>
        <dt><span jhiTranslate="cloudbaboonsApp.codegenerator.package_name">Package Name</span></dt>
        <dd>
            <span>{{codegenerator.package_name}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'codegenerator/'+ codegenerator.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
